.container{
    width: 100%;
    height: calc(100vh - 30px);
    margin-top: 30px;
    overflow-y: auto;
    overflow-x: hidden;

    .header_doc{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .form_title{
            display: flex;
            align-items: center;
        }

        .title_form{
            display: flex;
            align-items: center;
        }
    }
}