.container{
    height: 100vh;
    border-right: 1px solid teal;

    .sidebar{
        height: 100%;
        width: 200px;
        overflow-y: auto;
        position: relative;
        display: flex;
        flex-direction: column;

        .icon_left{
            position: absolute;
            top: 10px;
            right: 2px;
            width: fit-content;
            cursor: pointer;
        }

        .document_list{
            border-top: 1px solid teal;
            overflow: hidden;

            .action_footer{
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top: 1px solid teal;
            }
        }
    }

    .change_style{
        position: absolute;
        top: 0;
        left: 200px;
        width: calc(100% - 200px);
    }
}