.container{
    width: 200px;
    min-height: 27px;
    padding: 3px 0;
    padding-right: 9px;
    cursor: pointer;


    .for_child{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .info{
            display: flex;
            align-items: center;
            justify-content: start;


            .expand{
                margin-top: 3px;
                margin-right: -3px;
            }

            .expand_file{
                margin-top: 2px;
                margin-right: -2px;
            }
        }

        .actions{
            margin-left: auto;
            display: flex;
            align-items: center;

            .plus{
                margin-left: auto;
                opacity: 0.4;
                margin-top: 2px;
            }
    
            .plus:hover{
                opacity: 1;
            }
    
            .trash{
                margin-left: auto;
                opacity: 0.4;
                margin-top: 2px;
            }
    
            .trash:hover{
                opacity: 1;
                color: red;
            }
        }
    }
}