.container{
    min-height: 27px;
    padding: 3px 0;
    padding-right: 9px;
    display: flex;
    align-items: center;
    cursor: pointer;

    .expand{
        margin-top: 3px;
    }

    .for_child{
        margin-top: 3px;
        margin-left: auto;
        display: flex;
        align-items: center;

        .plus{
            margin-left: auto;
            opacity: 0.4;
        }

        .plus:hover{
            opacity: 1;
        }

        .trash{
            margin-left: auto;
            opacity: 0.4;
        }

        .trash:hover{
            opacity: 1;
        }
    }
}