.avatar_group{
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    margin-left: 15px;
    padding: 2px 2px;

    .name{
        margin-left: 10px;
        width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}