.container{
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    .top {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        gap: 5px;

        .info{
            width: fit-content;
            cursor: pointer;
            margin-right: 10px;

            .name{
                width: 100px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        .languagues{
            border: 1px solid teal;
            padding: 4px 5px;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .center_landing{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .button{
            margin-top: 20px;
        }
    }
}