::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: teal;
}

/* CSS file */
table {
    border: 1px solid white;
}

.tableWrapper table th,
.tableWrapper table td {
    border: 1px solid teal;
}

.tableWrapper table th{
    color: rgb(32, 148, 148);
}

.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
}

.mantine-RichTextEditor-content{
    overflow-x: auto;
}