.container{
    min-height: 27px;
    padding: 3px 0 3px 5px;
    padding-right: 9px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
}